html,
body {
    height: 100%;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


#response {
    position: fixed;
    top: 10px;
    width: 300px;
    right: 20px;
    z-index: 2000;
  }
  
  .custom-alert {
    margin-bottom: 5px;
    background: #222;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  }
  
  .custom-alert .custom-alert-body {
    display: flex;
    align-items: center;
  }
  
  .custom-alert .custom-alert-body .custom-alert-icon-error {
    margin: 0 8px;
    background-color: #e61e25;
    color: white;
    padding: 8px;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  }
  
  .custom-alert .custom-alert-body .custom-alert-icon-warning {
    margin: 0 8px;
    background-color: #F8A527;
    color: white;
    padding: 8px;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  }
  
  .custom-alert .custom-alert-body .custom-alert-icon-success {
    margin: 0 8px;
    background-color: #00b7b1;
    color: white;
    padding: 8px;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  }
  
  .custom-alert .custom-alert-body .custom-alert-content .custom-alert-heading {
    color: white !important;
    margin-top: 5px;
    margin-bottom: 8px;
    font-size: 13px;
  }
  
  .custom-alert .custom-alert-body .custom-alert-content .custom-alert-subheading {
  margin: 0;
    margin-bottom: 5px;
    font-size: 12px;
  }
  
  .custom-alert .alert-close{
    background-color: transparent;
    outline:none;
    border:none;
    color:white;
    cursor:pointer;
    padding: 10px;
    border-radius: 50px;
    margin-left: auto;
    margin-right:5px;
  }
  

  .font-12 {
    font-size: 12px;
}